.container_kes{
  
  table{
      width: 100%;
      th{
        font-weight: 500;
        text-align: left;
        font-size: 13px;
      }
    }
    // tr{
    //   display: table-row-group;
    // }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      font-size: 13px;
      padding: 5px;
      vertical-align: top;
    }
    
    div{
      padding: 2px 4px;
      font-size: 13px;
    }
}

  .centerText{
    text-align: center;
  }
  .adressField{
    min-height: 30px;
  }
  .halfWidth{
    width: 50%;
  }
  .amountWords{
    text-align: end !important;
  }
  .decleration{
    min-height: 55px;
    line-height: 15px;

  }
  .termsConditons{
    div{
      line-height: 15px;
    }
  }
  .sacgst{
    display: grid;
    grid-template-columns: auto auto;
  }
 
  .dataTable{
    table{
      width:100% !important
    }
    tr{
      width:100%
    }
  }

  .flexspacebetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .table-wrapper {
    page-break-inside: avoid;
    
}

.paymentDetails{
  label{
    margin-bottom: 2px;
  }
}

.saif{
  display: none;
}


.imageContainer {

  img{
    height:115px;
    width:100%;
  }
  /* Additional CSS properties for positioning, size, etc. */
}

.margin{
  margin-top: 150px;
}

.page-break {
  position: absolute !important;
  top: 100px !important;
}

.test{
  display: flex !important;
  flex-direction: column !important;
}

.header1 {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.content {
  margin-top: 100px;
}

.footertext{
  font-size: 12px;
}